html, body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: #222;
    overflow-x: hidden;
}

#html, body::-webkit-scrollbar {
    width: 8px;
    background-color: #dededec3;
}

#html, body::-webkit-scrollbar-thumb {
    background: #747474;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333333c3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-left: 40px;
    border-top: 1px solid black;
}

header nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

header h1 {
    position: absolute;
    left: 35%;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(212, 206, 19);
    -webkit-text-stroke: 1px #000000;
}

main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.505);
}

#reloj-principal {
    background-color: #333333c3;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgb(212, 206, 19);
    width: 80%;
    max-width: 400px;
    text-align: center;    
}

#reloj-principal h2 {
    color: rgb(212, 206, 19);
}

#reloj-digital {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

#fecha-digital {
    font-size: 24px;
    font-weight: bold;
    color: #e9e6e6;
    margin-bottom: 20px;
}

#mensaje-reloj {
    font-size: 20px;
    color: rgb(212, 206, 19);
    margin: 15px 0 10px 0;
}

#password {
    background-color: #333333c3;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgb(212, 206, 19);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#formPassword {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

#formPassword input {
    background-color: #333333c3;
    color: rgba(255, 255, 255, 0.721);
    border: 0.5px solid rgb(212, 206, 19);
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

#formPassword button {
    background-color: rgb(212, 206, 19);
    color: #333333c3;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

#formPassword button:hover {
    background-color: rgb(182, 177, 29);
}

#resultado-password {
    font-size: 16px;
    color: rgb(212, 206, 19);
}

#clima {
    text-align: center;
    background-color: #333333c3;
    padding: 30px 30px 15px 30px;
    border-radius: 20px;
    border: 1px solid rgb(212, 206, 19);
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

#info-clima {
    margin-bottom: 20px;
}

#info-clima h2 {
    color: rgb(212, 206, 19);
    font-size: 24px;
    margin-bottom: 10px;
}

#estado-clima {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}

#temp-icono {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

#icono {
    width: 60px;
    height: auto;
}

#temperatura img {
    width: 30px;
    height: auto;
}

#temperatura {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 40px;
    margin: 0;
}

#detalles-clima {
    color: rgba(255, 255, 255, 0.721);
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

#prevision {
    margin-top: 20px;
    padding: 10px 0 10px 10px;
}

#contenedor-prevision {
    display: flex;
    gap: 10px;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px 0 10px 10px;
    width: 100%;
    border: 0.5px solid rgb(212, 206, 19);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#contenedor-prevision::-webkit-scrollbar {
    height: 10px;
    background-color: #dededec3;
    border-radius: 10px;
}

#contenedor-prevision::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px;
}

.contenedor-horas {
    background-color: #333;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 80px;
    min-width: 80px;
    transition: background-color 0.3s linear;
}

.contenedor-horas:hover {
    background-color: #444;
}

.hora {
    font-size: 14px;
    margin-bottom: 5px;
}

.icono-prevision {
    width: 40px;
    margin-bottom: 5px;
}

#listado-links {
    background-color: #333333c3;
    border: 1px solid rgb(212, 206, 19);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

#formulario-links {
    margin-bottom: 20px;
}

#formulario-links label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

#formulario-links input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(212, 206, 19);
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

#formulario-links button {
    width: 93%;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(212, 206, 19);
    color: #333333c3;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

#formulario-links button:hover {
    background-color: rgb(182, 177, 29);
}

#links-guardados {
    margin-top: 20px;
}

#links-guardados h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#lista-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}


#lista-links li {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#lista-links a {
    color: rgb(212, 206, 19);
    text-decoration: none;
    font-weight: bold;
}

#lista-links img {
    cursor: pointer;
}

@media (max-width: 768px) {
    header {
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      margin-left: 0;
      background-color: #333333ee;
    }
  
    header h1 {
      position: static;
      font-size: 40px;
      margin: 10px;
    }
  
    header nav {
      gap: 10px;
    }
  
    main {
      padding: 10px;
    }
  
    #reloj-principal,
    #password,
    #listado-links {
      width: 70%;
    }

    #clima {
        width: 40%;
    }
  
    #temperatura {
      font-size: 36px;
      height: auto;
    }
  
    #detalles-clima {
      flex-direction: column;
      gap: 10px;
    }
  
    #contenedor-prevision {
      gap: 5px;
    }
  
    .contenedor-horas {
      width: 60px;
      min-width: 60px;
    }
  
    #formulario-links input,
    #formulario-links button {
      width: 90%;
    }
  
    #lista-links li {
      flex-direction: column;
      text-align: center;
    }
  }
  